<router-outlet></router-outlet>
<div class="front">

  <div class="main">
    <h1>Interview Scheduler</h1>
    <div class="form-group ">
      <h2 style="color: aqua;">Interviewer List</h2>
      <input class="form-control" [(ngModel)]="interviewId" required
        style="color:blue;">
      <select class="form-control addInter" id="college" [(ngModel)]="interviewer" name="Interviewer_mail" required
        style="color:blue;">
        <option *ngFor="let item of interviewersList" value={{item.email}}>{{item.email}}</option>
      </select>
    </div>
    <select class="custom-select form-control addText" id="basic" [(ngModel)]="interviewee" multiple="multiple">
      <option *ngFor="let item of intervieweesList" value={{item.email}}>{{item.email}}</option>
    </select>

    <mat-form-field appearance="fill">
      <mat-label>
        <h3 style="color: lightskyblue;">Select Time Slot</h3>
      </mat-label>
      <select matNativeControl [(ngModel)]="timeSlot" style="color: lightskyblue;">
        <option *ngFor="let item of timeSlots" value={{item}}>{{item}}</option>
      </select>
    </mat-form-field>

    <div class="example-button-row">
      <button type="submit" mat-raised-button color="green" (click)="createInterview()">Submit</button>
    </div>

  </div>

  <div class="container main1">
    <h2 style="color:cornsilk; background-color:lightseagreen;">List of Interviews</h2>
    <table class="table">
      <thead style="color:cornsilk; background-color:lightseagreen;">
        <th>Interviewer's Mail</th>
        <th>Interviewee's Mail</th>
        <th>Time Slot</th>
        <th>Resume</th>
        <th>Edit</th>
      </thead>
      <tbody>
        <tr *ngFor="let interview of interviewsList" style="color:cornsilk; background-color:lightseagreen;width: 100%;">
          <td>{{interview.interviewer}}</td>
          <td><p *ngFor="let item of interview.interviewees">{{item}}</p></td>
          <td>{{getTimeName(interview.timeSlot)}}</td>
          <td><button>Upload</button><button>View</button></td>
          <td><button (click)="editInterview(interview)">Edit</button></td>
        </tr>
      </tbody>
    </table>
    <div>

    </div>
  </div>

  <!-- <div id="tests" style="text-align: center; margin-top: 30px;">
    <button mat-raised-button color="primary" (click)="testFunc()">Run Test Code</button>
  </div> -->

</div>
