<router-outlet></router-outlet>
<div class="front">

  <div class="main">
    <h1>Interview Scheduler</h1>
    <div class="form-group ">
      <h2 style="color: aqua;">Interviewer List</h2>
      <select class="form-control addText" id="college" [(ngModel)]="selectedValue" name="interviewer_mail" required>
        <option value="interviewer_mail">Ajay Kumar</option>
        <option value="interviewer_mail">Ajay Kumar1</option>
        <option value="interviewer_mail">Ajay Kumar2</option>
        <option value="interviewer_mail">Ajay Kumar3</option>
        <option value="interviewer_mail">Ajay Kumar4</option>
        <option value="others">Others- Please Specify Below</option>
      </select>
 </div>
    <div class="form-group" *ngIf="selectedValue == 'others'">
      <label for="name">Enter Interviwer Email:</label>
      <input type="text" class="form-control" id="name" ngModel name="other_interviewer_mail" required>
    </div>

    <div class="addInter">
      <input [(ngModel)]="newItem1" placeholder="Add Interviewee" class="addText">
    </div>

    <mat-form-field appearance="fill">
      <mat-label><h3 style="color: lightskyblue;">Select Time Slot</h3></mat-label>
      <select matNativeControl style="color: lightskyblue;">
        <option value="101">Choose slot</option>
        <option value="101">08.00</option>
        <option value="101">09.00</option>
        <option value="101">10.00</option>
        <option value="101">11.00</option>
        <option value="101">12.00</option>
        <option value="101">16.00</option>
        <option value="101">17.00</option>
        <option value="101">18.00</option>
        <option value="102">19.00</option>
        <option value="103">20.00</option>
        <option value="101">21.00</option>
        <option value="101">22.00</option>
      </select>
    </mat-form-field>

    <div class="example-button-row">
      <button type="submit" mat-raised-button color="green" (click)="pushItem()" >Submit</button>
    </div>

  </div>

  <div class="container main1">
    <h2  style="color:cornsilk; background-color:lightseagreen;">List of Interviews</h2>
    <table class="table">
      <thead style="color:cornsilk; background-color:lightseagreen;">
        <th>Interviewer's Mail</th>
        <th>Interviewee's Mail</th>
        <th>Time Slot</th>
        <th>Resume</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr style="color:cornsilk; background-color:lightseagreen;width: 100%;">
          <td>akshita@gmail.com</td>
          <td>jagyaseni@gmail.com</td>
          <td>13/06/2021 - 4.00pm-5.00pm</td>
          <td><button>Upload</button><button>View</button></td>
          <td><button>Edit</button></td>
          <td>
            <span>x</span>
          </td>
        </tr>
        <tr style="color:cornsilk; background-color:lightseagreen;width: 100%;">
          <td>akshita111@gmail.com</td>
          <td>jagyaseni111@gmail.com</td>
          <td>13/06/2021 - 6.00pm-7.00pm</td>
          <td><button>Upload</button><button>View</button></td>
          <td><button>Edit</button></td>
          <td>
            <span>x</span>
          </td>
        </tr>


      </tbody>
    </table>
    <div>

    </div>
  </div>

</div>

